@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

@import url("navigation.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: rgba(63, 63, 222, 0.585);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* min-height: calc(50vh - 50px); */
  background: var(--first-color);
  background-size: cover;
  background-position: center;
}
